.gameGround {
    position: relative;
    height: 571.38px;
}

.OpponentState {
    position: absolute;
    top: 50px;
    left: 10%;
}

.Character {
    position: absolute;
    top: 200px;
    left: 15%;
}

.BettingState {
    position: absolute;
    top: 300px;
    right: 10%;
}

.MessageBox {
    position: absolute;
    width: 100%;
    bottom: 20px;
    z-index: 0;
}

.BettingInput {
    position: absolute;
    width: 100%;
    bottom: 50px;
}

.OutputResult {
    z-index: 5;
    position: absolute;
    display: grid;
  place-items: center;
}

.CardStyle {
    max-width: 300px;
   
}